
/*header css stuff*/

body{
    font-family: 'Yusei Magic', sans-serif;;
}
.header_logo{
    display:grid;
    text-align: center;
    
}
img{
    width: 95px;
}
/*navigation*/
nav{
    margin: 0 auto;
    background-color: teal;
}
nav ul {

    list-style-type: none;   
}

nav ul li a{
    display: block;
    
    text-decoration: none;
    font-weight: 600;

}
nav ul li a:hover{
    background-color: black;
    color:brown;
}
/*
.navigation {
    display: block;

    list-style: none;
    padding: 0;
    padding: 0.75rem;
}
.navigation a{
    text-decoration: none;
    text-align: center;
    text-align: left;

}

.navigation a:hover{
    color:white;
    background-color: black;

}*/

.navigation li{
    display: none;
}
.navigation li:first-child{
    display: block;
    text-align: center;
}

/*this is for the toggle of the hamberger menu*/
.responsive li{
    display:block;
}

/*main body items*/

main{
   
    max-width: 940px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #2E294E;
    margin-top: -15px;
    padding: 20px;
}
.forecast{
    display: flex;
}

/*footer stuff*/
footer{
    display:flex;
    align-items: center;
    justify-content: center;
   max-width: 1000px;
      margin: 0 auto;

}
header, footer{
    background-color: #96E6B3;

}
body{
    background-color: #817F75;
}


.forecast, .hero, .contact, .article{
    border: 1px dashed;
    margin: 10px;
    
}
h1, h2{
    color:brown;
    font-weight: bold;
    
}
p , li, a{
    color:white;
}
footer p{
    color:black;
}

 h1{

    font-size: 1.5rem;
    font-style: italic;

}
h2{
    text-align: center;
}